__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE / editor metadata
.idea/
.vscode/
*.swp

# Local storage directory created by the ADB server
adb_storage/
